---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Badge from "@/components/Badge.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import PuzzleIcon from "@/components/icons/Puzzle.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPill from "@/components/SocialPill.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";

const personalImageAlt = "ricardo bebeto photo";

const socials = {
  linkedIn: "https://linkedin.com/in/ricardo-bebeto-developer",
  github: "https://github.com/ricardows",
  email: "info@ricardobebeto.me",
};
---

<Layout
  title="Portafolio de Ricardo Bebeto - Desarrollador y Programador web"
  description="Especializado en crear librerias y aplicaciones web."
>
  <main class="px-4">

    <!-- Main -->
    <SectionContainer class="py-16 md:py-36">
      <div class="flex gap-4 mb-4">
        <img
          class="rounded-full shadow-lg size-12"
          src="developer.png"
          alt={personalImageAlt}
        />
        <a
          href={socials.linkedIn}
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </div>

      <h1
        class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
      >
        Hola, soy Ricardo Bebeto
      </h1>

      <p
        class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
      >
        Desarrollador web con m치s de <strong>4 a침os</strong> de experiencia. De B.C.S. M칠xico. 游쓇릖 
        Especializado en el <strong>dise침o y desarrollo de sistemas y aplicaciones web</strong> para empresas, 
        destac치ndome por la creaci칩n de soluciones eficientes y adaptadas a las necesidades del cliente.
      </p>

      <!-- Socials -->
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href={socials.linkedIn}>
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href={socials.github}>
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href={"mailto:" + socials.email}>
          <MailIcon class="size-4 md:size-6" />
          {socials.email}
        </SocialPill>
      </nav>
    </SectionContainer>

    <!-- Experience -->
    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <!-- AboutMe -->
    <SectionContainer id="sobre-mi">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <ProfileCheck class="size-7" />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>

    <!-- Projects -->
    <SectionContainer id="proyectos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <PuzzleIcon class="size-7" />
        Proyectos
      </h2>
      Proximamente...
      <!-- <Projects /> -->
    </SectionContainer>
  </main>
</Layout>
