---
import Badge from "@/components/Badge.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";

const personalImageAlt = "ricardo bebeto full stack developer";

const socials = {
  linkedIn: "https://linkedin.com/in/ricardo-bebeto-developer",
  github: "https://github.com/ricardows",
  email: "info@ricardobebeto.me",
};
---

<article>
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-12 transition md:hover:scale-125"
      src="logo_blanco.svg"
      alt={personalImageAlt}
    />
    <a
      href={socials.linkedIn}
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>

  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola, soy Ricardo Bebeto
  </h1>

  <section class="grid grid-cols md:grid-cols-2 gap-2">
    <div>
      <p
        class="mt-6 text-xl text-primary text-pretty [&>strong]:text-tertiary [&>strong]:font-semibold"
      >
        Desarrollador web con m치s de <strong>4 a침os</strong> de experiencia. De B.C.S.
        M칠xico. 游쓇릖 Especializado en el <strong
          >dise침o y desarrollo de sistemas y aplicaciones web</strong
        > para empresas, destac치ndome por la creaci칩n de soluciones eficientes y
        adaptadas a las necesidades del cliente.
      </p>
    </div>

    <div class="mt-8 h-36 w-60 justify-self-center rounded-2xl bg-sky-700/10 shadow-smshadow-sky-500/20 md:mt-0 md:self-center">
      <!-- background - front - bottom circle - top circle - hover animations -->
      <div class="group relative flex h-36 w-60 origin-bottom-right items-center justify-center rounded-2xl overflow-hidden 
        bg-neutral-900 outline -outline-offset-8 outline-violet-400 duration-500
          before:absolute before:right-16 before:top-32 before:h-20 before:w-20 before:rounded-full 
        before:bg-sky-400 before:blur-xl before:duration-500 
          after:absolute after:bottom-32 after:right-20 after:h-24 after:w-24 after:rounded-full
        after:bg-sky-700 after:blur-xl after:duration-500 
          hover:rotate-6 hover:duration-500 hover:before:-translate-x-32 hover:before:translate-y-4
          hover:after:translate-x-28 hover:after:translate-y-0 hover:after:duration-500
        ">        
        <div class="z-5 flex flex-col items-center gap-2">
          <span class="text-gray-50 text-3xl font-bold">Full Stack</span>
          <p class="text-gray-50 text-xl">Developer</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Socials -->
  <nav class="flex gap-4 mt-8 flex-wrap">
    <SocialPill href={socials.linkedIn}>
      <LinkedInIcon class="size-4 md:size-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href={socials.github}>
      <GitHubIcon class="size-4 md:size-6" />
      GitHub
    </SocialPill>
    <SocialPill href={"mailto:" + socials.email}>
      <MailIcon class="size-4 md:size-6" />
      {socials.email}
    </SocialPill>
  </nav>
</article>
